body{
    margin: 50px;
    height: inherit;
    color: honeydew;
    font-family: 'Pangolin', cursive;
    font-size: 20px;

    background-color:rgb(2, 1, 8);
}
div{
    
    
}
.left{
    width: 200px;
    font-weight: 900;
    font-style: unset;
    text-align: center;
    display: inline-block;

}
.right{
 
  text-align: center;
}

.mid{
    display:flex;
    justify-content: space-around;
    width: 600px;
    font-size: 20px;
    font: bolder;
    color: honeydew;
    position: relative;
    top: 50px;
}
.mid a{
    color: honeydew;
}


    
.head{
 
display: flex;
justify-content: space-between;

}
.top{
    font-size: 40px;
}
.right .but{
     
    height: 40px;
    width: 70px;
    border-radius: 20px;
    

 
}
 .right a{
     
     color: rgb(8, 2, 43);
     font-weight: bolder;
     text-decoration: none ;
    }
    
    


.aside{
    float: right;
    position: relative;
    top: 100px;
    font-size: 25px;
  
    
}
.aside a{
    color: rgb(247, 247, 248);
}
.aside li :hover{
    color: rgb(181, 247, 247);
}
.photo{
    position: absolute;
    left: 20px;
    top: 300px;
    width: 400px;
    height: 500px;
    display:grid;
    grid-template-columns: 2fr 1fr;
    
}
.photo .p3{
    position: relative;
    top:-305px;
}
.photo .p2{
    position: relative;
    left: -300px;
}
.sec1{
    position: absolute;
    top: 400px;
    left: 120px;
}
.talk{
    width: 700px;
  left: 100px;
  ; 
  position:relative;
    top :-500px;
}
.intro{
    position: relative;
    top:20px;
    width: 700px;
}
.tp{ 
    
    position: relative;
    top: -200px;
    width: 600px;
    height: 400px;
    border: 3px solid black;
    left: 750px;
}
.tptalk{
    position: absolute;
    top: 1500px;
    width: 500px;

    left: 80px;

}
.sec2{
    height:400%;
    width:400%;
      position:absolute ;  background:radial-gradient(#333,#000);
    }
    .leaf{
        position:absolute ;
        width:100%;
        height:400%;
        top:0;
        left:0;
    }
    .leaf div{
    position:absolute ;
    display:block ;
    }
    .leaf div:nth-child(1){
        left:20%; 
        animation:fall 15s linear infinite ;
        animation-delay:-2s;
    
    }
    .leaf div:nth-child(2){
        left:70%; 
        animation:fall 15s linear infinite ;
        animation-delay:-4s;
    }
    .leaf div:nth-child(3){
        left:10%; 
        animation:fall 20s linear infinite ;
        animation-delay:-7s;
        
    }
    .leaf div:nth-child(4){
        left:50%; 
       animation:fall 18s linear infinite ; 
       animation-delay:-5s;
    }
    .leaf div:nth-child(5){
        left:85%; 
        animation:fall 14s linear infinite ;
        animation-delay:-5s;
    }
    .leaf div:nth-child(6){
        left:15%; 
        animation:fall 16s linear infinite ;
        animation-delay:-10s;
    }
    .leaf div:nth-child(7){
        left:90%; 
        animation:fall 15s linear infinite ;
        animation-delay:-4s;
    }
    
    @keyframes fall{
        0%{
            opacity:1;
            top:-10%;
            transform:translateX (20px) rotate(0deg);
        }
        20%{
            opacity:0.8;
            transform:translateX (-20px) rotate(45deg);
        }
        40%{
    
            transform:translateX (-20px) rotate(90deg);
        }
        60%{
            
           transform:translateX (-20px) rotate(135deg); 
        }
        80%{
        
            transform:translateX (-20px) rotate(180deg);
        }
        100%{
            
            top:110%;
            transform:translateX (-20px) rotate(225deg);
        }
        }
    .leaf1{
        transform: rotateX(180deg);
    }
   